/* Page Header */

.Header {
    display: flex;
    flex-direction: row;
    height: 200px;
    background-color: #69b569;
}

/* header title */

.headerTitle {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 40px;
    font-size: 7vh;
    letter-spacing: 5px;
}

.buffer {
    width: 100%;
}

.linkRespSpace {
    display: flex;
    flex-direction: row;
    
}

/* home button */

.homeBtn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    text-decoration-line: none;
    color: black;
    font-size: 3vh;
}

.linkSpace {
    display: flex;
    justify-content: center;
    width: 55px;
}

.cvBtn {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-decoration-line: none;
    color: white;
    width: auto;
    font-size: 2.25vh;
    margin-right: 20px;
}

/* comments */

.commentContainer {
    display: flex;
    flex-direction: row;
    background-color:#c4e6c4;
}

.commentSpace {
    float: left;
    width: 25%;
    background-color:#c4e6c4;
}

.comments {
    font-size: 25px;
    background-color:#c4e6c4;
    font-weight: 800;
    word-wrap: normal;
}

.comment {
    font-family: 'Nothing You Could Do', cursive;
}

.commentEndSpace {
    float: left;
    width: 25%;
    background-color: #c4e6c4;
}

/* portfolios container */

.fit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    margin-top: 15px;
    background-color: #d7e9d7;
}

/* non profit template */
.container1 {
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 1.8;
    margin: 10px;
    width: 33%;
    color: #320d6d;
    font-weight: 700;
}


.title1 {
    text-align: center;
}

.imgContainer1 {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
    margin-top: 20px;
}

.image1 {
    border: solid black 10px;
    background-image: url('./ngo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    cursor: pointer;
    height: 150px;
    width: 250px;
}

/* encode project */

.container2 {
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 1.8;
    margin: 10px;
    width: 33%;
    color: #320d6d;
    font-weight: 700;
}

.title2 {
    text-align: center;
}

.imgContainer2 {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
    margin-top: 20px;
}

.image2 {
    border: solid black 10px;
    background-image: url('./encode.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    cursor: pointer;
    height: 150px;
    width: 250px;
}


/* matching characters game */

.container3 {
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 1.8;
    margin: 10px;
    width: 33%;
    color: #320d6d;
    font-weight:700;
    
}

.title3 {
    text-align: center;
}

.imgContainer3 {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
    margin-top: 20px;
}

.image3 {
    border: solid black 10px;
    background-image: url('./matchChars.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    cursor: pointer;
    height: 150px;
    width: 250px;
}

/* footer */

.backColor {
    background-color: #d7e9d7;
    margin: 0;
}

#portfolioFooter {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1010px) {

    .Header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .headerTitle {
        flex-direction: column;
        margin: 5px;
    }

    .homeBtn {
        justify-content: center;
        width: auto;
    }

    .linkRespSpace {
        display: flex;
        justify-content: space-around;
    }

    .linkSpace {
        width: 25px;
    }

    .fit {
        flex-direction: column;
        /* justify-content: center; */
        margin-top: 0;
        border-top: solid black;
        box-sizing: border-box;

    }

    .container1 {
        margin: 5px;
        width: auto;
        list-style: none;
        border-bottom: solid black;
        box-sizing: border-box;
    }

    .imgContainer1{
        margin-top: 25px;
    }

    .container2 {
        margin: 5px;
        width: auto;
        list-style: none;
        border-bottom: solid black;
        box-sizing: border-box;
    }

    .imgContainer2 {
        margin-top: 25px;
    }

    .container3 {
        margin: 5px;
        width: auto;
        list-style: none;
        border-bottom: solid black;
        box-sizing: border-box;
    }

    .imgContainer3 {
        margin-top: 25px;
    }
    
}
    

@media screen and (max-width: 600px){




}