.homeContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: solid black;
    background-color: black;
    margin: 0;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3.5em;
    border: solid black;
    background: 
    linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.davin {
    background-image: url('../davin.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    float: right;
    filter: grayscale(.8);
    height: 350px;
    width: 25%;
    border: solid black;
}

@media screen and (max-width: 575px) {

    .homeContainer { 
        flex-direction: column;
    }

    .name {
        height: 100%;
        width: auto;
    }

    .davin {
       display: none;
    }
}