/* Page Header */

.aboutHeader {
    display: flex;
    flex-direction: row;
    height: 200px;
    background-color: #ef3054;
}

/* contact title */

.aboutTitle {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 40px;
    font-size: 7vh;
    letter-spacing: 5px;
}

/* home button */

.HomeBtn {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    text-decoration-line: none;
    color: black;
    font-size: 30px;
}

.mediaHomeBtn {
    display: none;
}

/* comments */

.aboutContain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink;
    width: 100%;
    height: 150px;
}

.aboutComment {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 25px;
    background-color:pink;
    font-weight: 800;
    word-wrap: normal;
    line-break: loose;
    width: 50%;
}


.textAboutSpacing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: calc(.5rem + 1vw);
    line-height: calc(1rem + 1vw);
    height: 300px;
    width: 100%;
    margin-top: 50px;
    background: 
    linear-gradient(to right, rgba(255,0,0,0), rgb(255, 70, 70));
}

.textAboutSpacing2 {
    display: none;
}

/* footer */

.AboutColor {
    background-color: rgb(255, 223, 223);
    margin: 0;
}

#aboutFooter {
    height: 375px;
    width: auto;
    text-align: center;
}

.PortfolioLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    
}

.PortLink1 {
    text-decoration-line: none;
    color: black;
}

.mediaFooter {
    display: none;
}

@media screen and (max-width: 1010px) {

    .aboutHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutTitle {
        flex-direction: column;
        margin: 5px;
    }

    .HomeBtn {
        display: none;
    }

    .HomeBtn2 {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        text-decoration-line: none;
        color: black;
        font-size: 30px;
    }

        .PortfolioLink {
            display: none;
        }

        .mediaFooter {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            width: auto;
        }

    .PortLink1 {
        display: none;
    }

    .PortLink2 {
        text-decoration-line: none;
        color: black;
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    .textAboutSpacing {
        display: none;
    }

    .textAboutSpacing2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: calc(1rem + 2vw);
        font-size: calc(.5rem + 1vw);
        height: auto;
        width: 100%;
        margin-top: 50px;
        background: 
        linear-gradient(to right, rgba(255,0,0,0), rgb(255, 70, 70));
        flex-wrap: wrap; 
    }
    
    .listFormat {
        list-style-type: none;
        padding: 0;
        
    }

    ol {
        /* display: flex;
        justify-content: center;
        width: 100%; */
    }
}

@media screen and (max-width: 600px) {
    .textAboutSpacing {
        display: none;
    }

    .textAboutSpacing2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: calc(2rem + 2vw);
        font-size: calc(2rem - 1vw);
        height: auto;
        width: 100%;
        margin-top: 50px;
        background: 
        linear-gradient(to right, rgba(255,0,0,0), rgb(255, 70, 70));
        flex-wrap: wrap; 
    }
}