* {
  /* border: solid blue;
  box-sizing: border-box; */
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

div #root {
  margin: 0;
} 

.App {
  margin: 0;
} 

/* Define minimum font size */
html {
  font-size: 16px;
}
